body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.screen {
    max-width: 800px;
    width: 90%;
    background: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.1);
    border: 1px solid #333;
}

.hidden { display: none; }
.active { display: block; }

h1, h2 { color: #00ff88; }

button {
    background-color: #00ff88;
    color: #000;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: transform 0.2s;
}

button:hover { transform: scale(1.05); }
button.secondary { background-color: #555; color: white; }

/* Barra de Progresso */
.progress-bar {
    width: 100%;
    height: 10px;
    background: #333;
    margin-bottom: 20px;
    border-radius: 5px;
}
#progress-fill {
    height: 100%;
    background: #00ff88; /* Continuação da cor neon */
    width: 0%;
    transition: width 0.5s;
    border-radius: 5px;
}

.content-box {
    text-align: left;
    background: #252525;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    line-height: 1.6;
}

/* Estilos do Quiz */
.quiz-item {
    display: flex;
    background: #2a2a2a;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: space-around;
}

.quiz-item p { font-weight: bold; color: #fff; }

label {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    
}

label:hover { background: #333; }

/* Inputs do formulário final */
input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #00ff88;
    background: #121212;
    color: white;
}

/* Estilo do Certificado Visual */
.cert-border {
    border: 10px solid #00ff88;
    padding: 40px;
    background: white;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cert-border h1 { color: #121212; font-size: 3em; margin-bottom: 10px; }
.cert-border h2 { color: #006400; font-size: 2.5em; margin: 20px 0; border-bottom: 2px solid #333; display: inline-block;}
.cert-border h3 { color: #333; }
.cert-footer { margin-top: 50px; display: flex; justify-content: space-around; }

/* Regras de Impressão (Esconde botões ao imprimir) */
@media print {
    body { background: white; color: black; }
    .screen, .no-print { display: none !important; }
    #certificate-print { display: block !important; position: absolute; top: 0; left: 0; width: 100%; }
    .cert-border { border: 5px solid black; box-shadow: none; }
}